:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

.title-ctr {
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1 {
        font-size: 4rem;
        color: #5689f7;

        span.disappear {
            display: inline-block;
            max-width: 2.5em;
            overflow: hidden;
            vertical-align: top;

            animation: css-open-close 8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            animation-iteration-count: infinite;
            animation-delay: 8s;
        }
    }
}

.selector-ctr {
    text-align: center;
}

.target-ctr {
    display: flex;
}

.next-template-btn-ctr {
    position: absolute;
    left: 4rem;
    bottom: 4rem;

    button {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
        color: rgb(155, 53, 196);
        font-size: 1.6rem;
        border: 2px solid rgb(155, 53, 196);
        padding: .5em 1em;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        text-transform: uppercase;

        transition-property: background-color, color, transform;
        transition-duration: .2s;
        transition-timing-function: linear;

        &:hover {
            background-color: rgb(155, 53, 196);
            color: whitesmoke;
        }

        &:active {
            transform: scale(1.1);
        }
    }
}

@keyframes css-open-close {
    0% {
        max-width: 2.5em;
    }

    30% {
        max-width: 0.4em;
    }

    40% {
        max-width: 0;
    }

    50% {
        max-width: 0;
    }

    60% {
        max-width: 0;
    }

    70% {
        max-width: 0.5em;
    }

    100% {
        max-width: 2.5em;
    }
}